* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.play {
    height: 40rem;
    width: 2rem;
}

.moving-outline, .track-outline {
    height: 10rem;
    width: 10rem;
}
    
.time-select {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
}

.sound-picker {
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
    flex-direction: column;
    flex: 1;
}
.time-select button,
.sound-picker button {
    color: white;
    width: 50%;
    height: 10%;
    background: none;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
    transition: all 0.5s ease;
}
  
.sound-picker button {
    border: none;
    height: 6rem;
    width: 6rem;
    padding: 1rem;
    border-radius: 50%;
}
.sound-picker button:nth-child(1) {
    background: #0452ac;
}
.sound-picker button:nth-child(2) {
    background: #a14f49;
}
.sound-picker button:nth-child(3) {
    background: #ddd906;
}
.sound-picker button:nth-child(4) {
    background: #e907d6;
}
.sound-picker button:nth-child(5) {
    background: #3ef0fd;
}
.sound-picker button img {
    height: 100%;
    color: white;
}
 /* Hovering over the button causes the button the change colour */
.time-select button:hover {
    color: black;
    background: white;
}
  
.player-container {
    position: relative;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.player-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}
.player-container svg circle {
    transition: all 0.2s ease-in-out;
}
.time-display {
    color: white;
    position: absolute;
    font-size: 50px;
    bottom: 10%;
}
  
/* Using Z-index to set behind all the other functions on the page, by givng it less than 0(default value)  */
#backdrop-2 {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    z-index: -10;
}

.backdrop {
  background-image: url('/assets/images/rain.JPG');
  background-size: cover;
  max-width: 100vh;
  position: relative;
}


/*
@media (max-width: 420px) {
  .player-container {
      height: auto;
  }

  .sound-picker button {
      height: auto;
  }

  .time-display {
      height: auto;
  }
  .time-select {
      height: auto;
  }

  .video {
   /*   height: 100%; 
  }

}
@media (max-width: 340px) {
    .player-container {
        height: auto;
    }

    .sound-picker button {
   /*     height:auto; 
    }

    .time-display {
        height: auto;
    }
    .time-select {
        height: auto;
    }

    .video {
        height: fit-content;
    }
}  */
